*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica";
}

html, body{
    width: 100%;
    height: 100%;
}

#black{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    color: #fff;
    z-index: 99;
    /* display: none; */
}

#richarde{
    /* width: 100%; */
    height: 80px;
    /* background-color: yellow; */
    margin-top: 5%;
    margin-left: 5%;
}


#rightscroll{
    position: absolute;
    top: 0%;
    right: 0%;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    height: 100%;
}

#rightscroll h1{
    font-size: 5vw;
}

#main{
    width: 100%;
    min-height: 100vh;
    background-color: #E1DFDD;
}

#nav{
    position: fixed;
    width: 100%;
    height: 55px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav h1{
    font-size: 1.5vw;
}

#navmain{
    position: absolute;
    top: 3%;
    left: 25%;
    display: flex;
    width: 40%;
    justify-content: space-between;
}

#navmain h1{
    font-size: 1.5vw;
}

#creative{
    width: 90%;
    position: absolute;
    left: 5%;
    top: 15%;
}
#creative h1{
    font-weight: 600;
    font-size: 8vw;
}

#creativeimg{
    width: 35vw;
    height: 17vw;
    background-image: url(hero-cover.jpg);
    background-size: cover;
    background-position: left;
}

#richard{
    position: absolute;
    right: 5%;
}

#cone{
    width: 100%;
    height: 60%;
    /* background-color: yellow; */
}

#firsth1{
    width: 100%;
    height: 50%;
    /* background-color: blue; */
    overflow: hidden;
}

#firsth2{
    width: 100%;
    height: 50%;
    /* background-color: blue; */
    overflow: hidden;
}